.button {
    font-size: 14px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;

    font-weight: 400;
    text-transform: uppercase;
    color: $basic-white;
    text-align: center;

    background-color: $basic-green;
    border: none;
    
    cursor: pointer;
}