.card {
    display: flex;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-bottom: 14px;
    margin-bottom: 10px;   
    min-width: 190px;
}

.card__title {
    margin: 0;
    margin-bottom: 14px;

    text-align: left;
}

.card__title-link {
    display: inline-block;

    font-size: 16px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    color: $basic-black;
    text-transform: uppercase;
    vertical-align: middle;

    max-width: 100px;
    
    box-sizing: border-box;
}

.card__picture {
    margin: 0;
    margin-top: 10px;
    padding: 0; 

    min-width: 142px;
    max-height: 112px;  
}

.card__data-wrapper {
    margin-top: 12px;
    width: calc(100% - 142px);

}

.card__property-list {    
    font-size: 12px;
    line-height: 16px; 
}

.card__property-group {
    display: flex;
    justify-content: space-between;   
}

.card__property-title {
    display: inline-block;
}

.card__property-description {
    display: inline-block;
    margin: 0;
}

.card__button {
    margin-top: 9px;
    padding-top: 9px;
    padding-bottom: 10px;

    width: 100%;
}
