.card {
    display: flex;

    flex-wrap: wrap;

    padding-top: 11px;
    padding-bottom: 14px;
    margin-bottom: 10px;   
    min-width: 190px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
        margin: 0;
        padding-top: 0;
        padding-bottom: 40px;
        margin-bottom: 0;
        min-width: auto;
        width: 324px;
    }
    
    @media (min-width: $desktop-width) {
        width: 245px;
    }

}

.card__title {
    margin: 0;
    margin-bottom: 14px;

    text-align: left;
    
    @media(min-width: $tablet-width) {
        display: flex;
        justify-content: center;

        margin-bottom: 13px;
    }
}

.card__title-link {
    display: inline-block;

    font-size: 16px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    color: $basic-black;
    text-transform: uppercase;
    vertical-align: middle;

    max-width: 100px;
    
    box-sizing: border-box;

    
    @media(min-width: $tablet-width) {
        display: block;

        
        font-size: 20px;
        line-height: 24px;
        color: $special-dark-grey-2;
        text-align: center;
        max-width: 160px;
        
    }
}

.card__picture {
    margin: 0;
    margin-top: 10px;
    padding: 0; 
    text-align: center;
    width: 140px;
    min-height: 112px;


    @media (min-width: $tablet-width) {
        margin-top: 0;
        min-width: auto;
        width: 324px;
        min-height: 260px;
        text-align: center;
    }
}

.card__image {

    &--500gramm {
        margin-top: 28px;

        @media (min-width: $tablet-width) {
            margin-top: 0;
        }
    }

    &--1000gramm {
        margin-top:  10px;

        @media (min-width: $tablet-width) {
            margin-top: 0;
        }
    }

    @media (min-width: $tablet-width) {
       
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0;

        width: 168px;
        height: 200px;   
    }

    @media (min-width: $desktop-width) {
       
        display: block;
        margin: 0 auto;
        margin-top: 38px;
        padding: 0;


        width: 172px;
        height: 200px;
    }
}

.card__data-wrapper {
    margin-top: 12px;
    width: calc(100% - 142px);

    @media (min-width: $tablet-width) {
        margin: 0 auto;
        margin-top: 22px;
        margin-bottom: 30px;
        width: 100%;
        
        max-width: 250px;
    }

    @media (min-width: $desktop-width) {
        padding-left: 39px;
        padding-right: 38px;
    }
}

.card__property-list {    
    font-size: 12px;
    line-height: 16px; 

    @media (min-width: $tablet-width) {            
        margin: 0 auto;   
    }
}

.card__property-group {
    display: flex;
    justify-content: space-between;   

    @media (min-width: $tablet-width) {
        padding-top: 8px;
        padding-bottom: 8px;
        
        border-bottom: 1px solid $special-grey-2;
    }
}

.card__property-title {
    display: inline-block;

    @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 16px;
        color: $special-dark-grey-1;
    }
}

.card__property-description {
    display: inline-block;
    margin: 0;

    @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 16px;
        color: $special-dark-grey-1;
    }
}

.card__button {
    margin-top: 9px;
    padding-top: 9px;
    padding-bottom: 10px;

    width: 100%;

    @media (min-width: $tablet-width) {
        display: block;
        margin-top: 10px;
        margin: 0 auto;

        padding-top: 10px;
        padding-bottom: 10px;

        
        font-size: 16px;
        line-height: 16px;
        
        max-width: 250px;
        max-height: 40px;
        box-sizing:border-box;
        align-self: flex-start;
    }
    
    @media (min-width: $desktop-width) {
        margin-left: 39px;
        margin-right: 38px;
    }
}
