.container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 280px; 

    
    
    @media (min-width: $tablet-width) {
        width: 768px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;

        background-color: rgba(221, 160, 221, 0.6);
        
    }
}

