.container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 280px; 
    
    @media (min-width: $tablet-width) {
        width: 718px;
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;   
    }

    @media (min-width: $desktop-width) {
        width: 1440px;
        margin: 0 auto;
        padding-left: 110px;
        padding-right: 110px;
        box-sizing: border-box;   
    }
}

