.example {
    padding-top: 27px;
    padding-bottom: 37px;
    
    background-color: $special-grey-bg;

    @media (min-width: $tablet-width) {
        padding-top: 10px;
        padding-bottom: 70px;
        background-image: linear-gradient($basic-white 65%, $special-grey-bg 65%)
    }

    @media (min-width: $desktop-width) {
        padding-bottom: 58px;
        min-height: 600px;
        position: relative;
        padding-top: 0;
        background-image: linear-gradient( $basic-white 29%, $basic-grey  29%);
    }
}

.example__title {
   margin: 0;
   font-size:  36px;
   line-height: 40px;

   font-family: "Oswald", "Arial", sans-serif;
   font-weight: 400;
   color: $basic-black;

   @media (min-width: $tablet-width) {
       margin-top: 0;
       font-size: 60px;
       line-height: 60px;
       font-weight: 400;
   }

   @media (min-width: $desktop-width) {
      
       padding-top: 60px;  
 }
}

.example__description {
    margin-top: 33px;
    margin-bottom: 0;
    
    width: 270px;

    font-size: 14px;
    line-height: 18px; 

    
    
    @media (min-width: $tablet-width) {
        margin-top: 65px;
        width: auto;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

    }

    @media (min-width: $desktop-width) {
        margin-top: 146px; 
        font-size: 16px;
        line-height: 24px;
        max-width: 436px;
    }
}

.example__data {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 38px;
    }

    @media (min-width: $desktop-width) {
        padding-top: 53px;
    }
}

.example__list {
    display: flex;

    margin: 0;
    margin-top: 25px;
    margin-bottom: 36px;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
        width: 370px;
        margin-top: 14px;
        margin-bottom: 0;
    }
    @media (min-width: $desktop-width) {
        justify-content: flex-start;
        width: 100%;
        
    }
}

.example__item {
    position: relative;
    width: calc(50% - 17px);
    min-height: 54px;
    text-align: center;
    border: 1px solid $special-grey-2;
    border-radius: 5%;

    &:last-child {
        margin-left: auto;

        @media (min-width: $desktop-width) {
            margin-left: 40px;  
               
        }
    }

    @media (min-width: $tablet-width) {
        width: 162px;
        min-height: 77px;   
    }

    @media (min-width: $desktop-width) {
             
    }
}

.example__subtitle {
    margin: 0;
    margin-top: 15px;

    font-size: 24px;
    line-height: 24px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color:$basic-black;

    @media (min-width: $tablet-width) {
        margin-top: 15px;

        font-size: 30px;
        line-height: 37px;
        font-weight: 400;  
    }
}

.example__subdescription {
   display: inline-block;
   position: absolute;
   top: 47px;
   left: 21px;
   margin: 0;

   font-size: 12px;
   line-height: 12px;
   
   text-align: center;
    width: 78px;
    background-color: $special-grey-bg;

    @media (min-width: $tablet-width) {
        display: block;
        font-size: 14px;
        line-height: 14px;
        white-space: nowrap;
        top: 70%;
        left: 50%;
        width: auto;
        padding: 0 10px;
        text-align: none;
        background-color: $basic-white; 
        transform: translate(-50%, 70%);
    }
    @media (min-width: $desktop-width) {
        background-color: $basic-grey;
    }
}

.example__picture-wrapper {
    margin-top: 42px;
    margin-bottom: 50px;

    @media (min-width: $tablet-width) {
        margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
        position: absolute;
        top: -71px;
        right: 92px;
    }
}

.example__result {
    margin-top: 35px;

    font-size: 14px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $basic-black;

    @media (min-width: $tablet-width) {
       margin: 0;
       margin-top: 22px;
       margin-bottom: auto;
       margin-left: auto;
       text-align: right;
   
       font-size: 20px;
       line-height: 29px;
       font-weight: 400;
       max-width: 176px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 50px;
    
        margin-left: 0;
        max-width: 30%;
    }
}

.example__result-count {
    @media (min-width: $desktop-width) {
        margin-left: 58px;
    }
}

.example__result-toggle {
    @media (min-width: $tablet-width) {
        width: 100%;
    }

    @media (min-width: $desktop-width) {
        max-width: 47%;
        margin-top: 40px;
        margin-left: auto;
        
     }
}

.example__picture {
    @media (min-width: $tablet-width) {
        margin-top: 54px;
        margin-left: 16px;

        width: auto;
        min-height: 500px;
    }
}

.example__toggle {
    display: flex;
    align-items: center;
    justify-content: center;  
    
    margin-top: 23px;
    margin-left: 5px;

    @media (min-width: $tablet-width) {
        min-height: 36px;
        margin-top: 10px;
        margin-left: 0;
    }
    @media (min-width: $desktop-width) {
        
    }
}

.example__toggle-text {
    font-size: 16px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $basic-black; 

    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;

        border-bottom: 1px dotted $black-border-opacity04;
    }
}

.example__bar {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    
    min-width: 84px;
    height: 14px;

    background-color: $basic-white;
    border: 1px solid $special-grey-2;
    border-radius: 20px;

    @media (min-width: $tablet-width) {
        margin-left: 22px;
        margin-right: 22px;
        height: 6px;
        width: 100%;
        max-width: 428px;
        background-color:  $special-grey-2; 
    }
}

.example__toggle:hover  .example__toggle-text,
.example__toggle:focus  .example__toggle-text {
    @media (min-width: $tablet-width) {

        border-bottom: 1px solid $black-border-opacity04;
    }
}

.example__toggle:active  .example__toggle-text {
    @media (min-width: $tablet-width) {

        border-bottom: none;
    }
}


.example__toggle-button {
    margin-left: 8px;
    width: 35px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 20px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
        margin-left: auto;
        margin-right: auto;
        width: 7px;
        height: 7px;
        border: 13px solid $basic-white;
        border-radius: 50%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);

        &:hover,
        &:focus {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
        }

        &:active {  
            box-shadow:  0 0 0 2px $basic-green,
            0px 3px 5px rgba(0, 0, 0, 0.2);
        }
    }
}
