.how-it-works {
    margin-top: 27px;
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
        padding-bottom: 0;
        border-bottom: 1px solid $border-grey-e6;
    }
}

.how-it-works__title {
    margin-bottom: 37px;
    font-size: 36px;
    line-height: 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    color: $basic-black;

    @media (min-width: $tablet-width) {
        padding-top: 10px;
        font-size: 60px;
        line-height: 60px;
        margin: 0;
    }
}

.how-it-works__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 74px;
    }
}

.how-it-works__item {
    margin-bottom: 20px;
    min-height: 60px;

    @media (min-width: $tablet-width) {
        width: 45%;
        padding-bottom: 113px;

        &:nth-child(even) {
            
            margin-left: 65px;
        }
    } 
}

.how-it-works__description br{
    display: none;

    @media (min-width: $tablet-width) {
        display: inline;
    }
}

.how-it-works__description {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: red;
   
    &::before {
        content: "";
        display: block;
        margin-right: 20px;
        min-width: 60px;
        min-height: 60px;

        background-color: $basic-green;

        @media (min-width: $tablet-width) {
            width: 80px;
            height: 80px;   
        }
    }

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 247px;
        min-height: 185px;

        font-size: 16px;
        line-height: 24px;
    }   
}