.logo {
    padding-top: 12px;
    padding-bottom: 16px;
}
.logo__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-right: 30px;
    
}

.logo__link--footer {
   
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
  
}

.logo__picture--second {
   margin-right: auto;
   margin-left: auto;
   
}





