.main-footer__adress-block {
    display: flex;
}
.main-footer__contacts-title {
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    color: $basic-black;
    width: 50%;
}

.main-footer__adress {
    width: 50%;
}

.main-footer__map {
width: 320px;
margin: 0 auto;
}