
.main-footer__adress-block {
    display: flex;
    padding-top: 16px;
    padding-bottom: 10px;

    
}

.main-footer__contacts-title {
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    color: $basic-black;
    width: 50%;
}

.main-footer__adress {
    width: 50%;
}

.main-footer__map {
   width: 320px;
   margin: 0 auto;
}


.main-footer__wrapper-buttom {
   padding-top: 23px;
   background-color: $basic-grey;
}


.main-footer__logo {
    display: flex;  
    align-items: center;
    margin-left: 10px;
    padding-bottom: 32px;
}


