.order-form {
    margin-top: 20px;
    
}

.order-form__fieldset {
    &--data,
    &--options {
        border-bottom: 1px solid $border-grey-d9;
    }

    margin: 0;
    padding: 0;

    border: none;
}


.order-form__group {
    display: flex;
    
    align-items: center;
}

.order-form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;
  
  &--input {
    white-space: nowrap;
    padding-right: 14px;
    color: $special-dark-grey-1;
  }

}

.order-form__input {
    width: 90%;
    padding-top: 13px;
    padding-left: 16px;
    padding-bottom: 13px;
    
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $special-dark-grey-1;

    border: 1px solid $special-grey-2;

    box-sizing: border-box;

    &::placeholder {
        font-size: 16px;
        line-height: 18px;
        font-family: "Oswald", "Arial", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: $special-dark-grey-1;
    }
}

.order-form__radio-wrapper .order-form__group {
    margin-top: 20px;
    margin-bottom: 15px;
}

.order-form__label--radio {
    position: relative;
     padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    
   

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border: 1px solid $special-grey-2;
        border-radius: 50%;
    }

    &::after {
        content: "";
        display: none;
        position: absolute;
        top: 9px;
        left: 9px;

        width: 14px;
        height: 14px;

        background-color: $basic-green;
        border-radius: 50%;
    }
}

.order-form__radio:checked + .order-form__label--radio::after {
    display: block;
}

.order-form__subtitle-wrapper {   
    position: relative;   

    margin: 0 auto;
    margin-top: 26px;
    padding-top: 1px;

    width: 280px;
    min-height: 52px;      

    &::before {
        content: "";
             
        display: block;

        margin-left: 140px;
        margin-top: 10px;

        height: 3px;
        width:120%;
        
        background-color: $basic-green;     
    }
}

.order-form__subtitle {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding-left: 0;
    padding-right: 20px;

    max-width: 180px;
    
    font-size: 24px;
    line-height: 26px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    color: $basic-black;

    background-color: $basic-white;  
}

.order-form__contacts-wrapper {
    margin-top: 30px;
}

.order-form__subtitle-wrapper--textarea {
    margin-top: 12px;
}

.order-form__textarea {
    margin-top: 12px;
    padding-top: 13px;
    padding-left: 15px;

    box-sizing: border-box;
   

    width: 100%;
    

    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $special-dark-grey-1;

    border: 1px solid $border-grey-e7;

    &::placeholder {
        font-size: 16px;
        line-height: 18px;
        font-family: "Oswald", "Arial", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: $special-dark-grey-1;
    }
}

.order-form__fieldset--others .order-form__group {
    margin-top: 10px;
    margin-bottom: 13px;
}


.order-form__label--checkbox {
    position: relative;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 46px;

    cursor: pointer;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        width: 30px;
        height: 30px;

        border: 1px solid $special-grey-2;
    }

    &::after {
        content: "";
        display: none;
        position: absolute;
        top: 9px;
        left: 8px;
    
        width: 19px;
        height: 15px;

        background-image: url("../img/vector.svg");
        background-repeat: no-repeat;
    }
}

.order-form__checkbox:checked + .order-form__label--checkbox::after {
    display: block;
}

.order-form__button-wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 32px;
    padding-bottom: 32px;
}

.order-form__button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.order-form__information {
    margin-top: 21px;
    align-self: center;
}

.main-footer--form  .main-footer__contacts {
    background-color: $basic-grey;
}





    