.order-form {
    margin-top: 20px;
    
}

.order-form__fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.order-form__fieldset-wrapper {
    @media (min-width: $desktop-width) {
      display: flex;
    }
}

.order-form__fieldset-wrapper .order-form__fieldset {
    @media (min-width: $desktop-width) {
        width: calc(50% - 40px);
      }
}

.order-form__fieldset-container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 280px; 
    
    @media (min-width: $tablet-width) {
        width: 718px;
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;   
    }

    @media (min-width: $desktop-width) {
        width: 1440px;
        margin: 0 auto;
        padding-left: 110px;
        padding-right: 110px;
        box-sizing: border-box;   
    }
}

.order-form__fieldset--data {
    position: relative;
    
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: -50%;
        width: 200%;
        height: 1px;
        background-color:  $border-grey-d9;

        @media (min-width: $tablet-width) {
            display: none;
        }
    }

    @media (min-width: $tablet-width) {
        margin-top: 30px;
        
        padding-top: 5px;
        padding-bottom: 5px;

        border-bottom: none;
    }
}

.order-form__fieldset--options {
    position: relative;
    margin-top: 50px;
    

    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: -50%;
        width: 200%;
        height: 1px;
        background-color:  $border-grey-d9;

        @media (min-width: $tablet-width) {
            display: none;
        }
    }

    @media (min-width: $tablet-width) {
        margin-top: 50px;
        margin-left: auto;

        border-bottom: none;
    }
}

.order-form__group {
    display: flex;
    
    align-items: center;

    @media (min-width: $tablet-width) {
        margin-bottom: 21px;
        margin-left: 40px;
        max-width: 630px;
    }

    @media (min-width: $desktop-width) {
       max-width: auto;
        margin-left: 0;
    }
}

.order-form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    color: $special-dark-grey-1;
  }
  
  &--input {
    white-space: nowrap;
    padding-right: 9px;
    color: $special-dark-grey-1;

    @media (min-width: $tablet-width) {
        padding-right: 19px;
      }
  }

}

.order-form__input {
    width: 90%;
    min-height: 48px;
    padding-top: 13px;
    padding-left: 16px;
    padding-bottom: 13px;
    
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $special-dark-grey-1;

    border: 1px solid $border-grey-e7;

    box-sizing: border-box;
    outline: none;

    &:hover {
        border: 1px solid $special-grey-2;
    }
    &:focus {
        border: 2px solid $special-dark-grey-1;
    }

    &--error {
       border: 2px  solid $status-error;

       &:hover,
       &:focus {
        border: 2px  solid $status-error;
       }
    }

    @media (min-width: $tablet-width) {
       padding-top: 15px;
       padding-bottom: 15px;
      }

    &::placeholder {
        font-size: 16px;
        line-height: 18px;
        font-family: "Oswald", "Arial", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: $special-dark-grey-1;

        @media (min-width: $tablet-width) {
            font-size: 20px;
            line-height: 30px;
            color: $special-dark-grey-1;
          }
    }
}

.order-form__radio-wrapper {
    padding-top: 21px;
    padding-bottom: 5px;

    @media (min-width: $tablet-width) {
        margin: 0 auto;
        
        max-width: 628px;

        padding-top: 20px;
        padding-bottom: 15px;

        box-sizing: border-box;

        border: 1px solid $border-grey-e7;

    }
}

.order-form__radio-wrapper .order-form__group {
    
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
        
        margin-left: 27px;
        margin-bottom: 10px;
     }
    
}

.order-form__label--radio {
    position: relative;
     padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
        padding-left: 60px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 29px;
        height: 29px;
        border: 1px solid $special-grey-2;
        border-radius: 50%;

        @media (min-width: $tablet-width) {
           width: 39px;
           height: 39px;
        }
    }

    &::after {
        content: "";
        display: none;
        position: absolute;
        top: 9px;
        left: 9px;

        width: 14px;
        height: 14px;

        background-color: $basic-green;
        border-radius: 50%;

        @media (min-width: $tablet-width) {
            top: 11px;
            left: 11px;
            width: 18px;
            height: 18px;
         }
    }
}

.order-form__label--radio:hover::before,
.order-form__label--radio:focus::before {
     border: 1px solid $border-radio-grey;
}

.order-form__radio:disabled ~ .order-form__label {
    color: $border-radio-grey;
    opacity: 0.3;

    &:before {
        border: 1px solid $border-radio-grey;
        opacity: 0.3;
    }
    &:after {
        opacity: 0.3;
    }
}

.order-form__radio:checked + .order-form__label--radio::after {
    display: block;
}

.order-form__fieldset--contacts {
    @media (min-width: $tablet-width) {
        margin-top: 48px;
        margin-bottom: 34px; 
    }

    @media (min-width: $desktop-width) {
        margin-top: 20px;
        
    }
}

.order-form__subtitle-wrapper {   
    position: relative;   

    margin: 0 auto;
    margin-top: 25px;
    padding-top: 1px;

    width: 280px;
    min-height: 52px;
    
    @media (min-width: $tablet-width) {
        width:auto; 
    }

    &::before {
        content: "";
             
        display: block;

        margin-left: 140px;
        margin-top: 14px;

        height: 2px;
        width:120%;
        
        background-color: $basic-green;   
        
        @media (min-width: $tablet-width) {
            margin: 0;
            margin-left: 0;
            margin-top: 21px;

            width:auto;          
        }
    }
}

.order-form__subtitle {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding-left: 0;
    padding-right: 20px;

    max-width: 180px;
    
    font-size: 24px;
    line-height: 26px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    color: $basic-black;

    background-color: $basic-white;  

    @media (min-width: $tablet-width) {
       left: 29px;

       padding-left: 39px;
       padding-right: 48px;

       font-size: 36px;
       line-height: 36px;
       max-width: 512px;
    }
    
    @media (min-width: $desktop-width) {
        left: 71px;
     }
}

.order-form__contacts-wrapper {
    margin-top: 30px;

    @media (min-width: $tablet-width) {
        margin-top: 60px;
    }

    @media (min-width: $desktop-width) {
       display: flex;
       margin-top: 46px;
    }
}
/*ВОТ ТУТ Я НЕМНОГО ЗАДЫМИЛ 07.12.2020*/



.order-form__contacts-wrapper .order-form__group {

    
    @media (min-width: $tablet-width) {
        margin-left: 38px;  
    } 

    @media (min-width: $desktop-width) {
        margin-left: 0;
        width: calc(50% - 40px);
       &:nth-child(even) {
           margin-left: auto;
       } 
    } 
}


.order-form__subtitle-wrapper--textarea {
    margin-top: 12px;   
}

.order-form__textarea--wrapper {
    display: flex;
}

.order-form__textarea {
    margin-top: 7px;
    padding-top: 13px;
    padding-left: 15px;

    box-sizing: border-box;
   
    width: 100%;
    min-height: 150px;

    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $special-dark-grey-1;

    border: 1px solid $border-grey-e7;

    &:hover,
    &:focus {
        border: 1px solid $basic-green;
    }

    &::placeholder {
        padding-left: 10px;
        font-size: 20px;
        line-height: 30px;
        font-family: "Oswald", "Arial", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: $special-dark-grey-1;
    }

    @media (min-width: $tablet-width) {
        margin: 0 auto;
        margin-top: 60px;  
        padding-top: 9px;
        padding-left: 8px;

        max-width: 631px;
        min-height: 173px;  
    }

    @media (min-width: $tablet-width) {
        max-width: 100%;  
    }
}

.order-form__fieldset--others {
    @media (min-width: $tablet-width) {
        margin-top: 40px;  
    }
}

.order-form__fieldset--others .order-form__group {
    margin-top: 5px;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
        margin-bottom: 25px;
        margin-right: 20px;   
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 25px;
        margin-right: 130px;

        &:nth-child(4n) {
            margin-right: 0;
        }  
    }
}

.order-form__checkbox--wrapper {
    
    @media (min-width: $tablet-width) {
        margin-top: 34px;
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {

    }
}

.order-form__checkbox--wrapper .order-form__group {
    @media (min-width: $tablet-width) {
        width: 40%;  
    }
    @media (min-width: $desktop-width) {
        width: 16%;  
    }
}

.order-form__label--checkbox {
    position: relative;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 46px;

    cursor: pointer;

    @media (min-width: $tablet-width) {
        padding-left: 57px; 
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        width: 28px;
        height: 28px;

        border: 1px solid $special-grey-2;

        @media (min-width: $tablet-width) {
            width: 37px;
            height: 38px;  
        }
    }

    &::after {
        content: "";
        display: none;
        position: absolute;
        top: 8px;
        left: 6px;
    
        width: 19px;
        height: 15px;

        background-image: url("../img/vector.svg");
        background-repeat: no-repeat;

        @media (min-width: $tablet-width) {
            top: 13px;
            left: 11px;
        }
    }
}

.order-form__checkbox:checked + .order-form__label--checkbox::after {
    display: block;
}

.order-form__label--checkbox:hover::before,
.order-form__label--checkbox:focus::before {
     border: 1px solid $border-radio-grey;
}

.order-form__checkbox:disabled ~ .order-form__label {
    color: $border-radio-grey;
    opacity: 0.3;

    &:before {
        border: 1px solid $border-radio-grey;
        opacity: 0.3;
    }
    &:after {
        opacity: 0.3;
    }
}

.order-form__button-wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 21px;
    padding-bottom: 32px;

    @media (min-width: $tablet-width) {
        flex-direction: row;
        
        margin-top: 30px;
        margin-left: 40px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 36px;
        margin-left: 0;
    }
}

.order-form__button {
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 16px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
        padding-left: 65px;
        padding-right: 65px;
        font-size: 20px;
        line-height: 30px;      
    }

    @media (min-width: $desktop-width) {
        padding-left: 208px;
        padding-right: 208px;
    }
}

.order-form__information {
    margin-top: 21px;
    align-self: center;

    @media (min-width: $tablet-width) {
        margin-top: 0;
        margin-left: 60px;
        font-size: 16px;
        line-height: 18px;     
    }

    @media (min-width: $tablet-width) {
        margin-left: 80px;     
    }
}

.main-footer--form  .main-footer__contacts {
    background-color: $basic-grey;
}



    