.pagination {
    padding-bottom: 25px;

    text-align: center;    

    @media (min-width: $tablet-width) {
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        min-width: auto;
        width: 324px;

        border: 2px solid black;
   }
}

.pagination__title {
    margin: 0;
    padding-top: 79px;

    font-size: 16px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $basic-black;
}

.pagination__description {
    margin: 0;
    margin-top: 10px;

    font-size: 12px;
    line-height: 16px;
    color: $special-dark-grey-1;
}

.pagination__button {
    display: block;
    
    margin-top: 21px;
  
    padding-top: 10px;
    
    padding-bottom: 10px;

    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400px;
    text-transform: uppercase;
    color: $special-dark-grey-1;
    
    background-color: $basic-grey;

    cursor: pointer;

}