.promo {
    text-align: center;
    color: $basic-white;

    background-image: url("../img/index_background_desktop.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 320px auto;

    @media (min-width: $tablet-width) {
        background-image: none;
        text-align: left;
    }
}

.promo__wrapper {

    @media (min-width: $tablet-width) {
        position: relative;
        margin-top: 31px;
        padding-left: 82px;
        min-height: 820px;
    }
}

.promo__title {
    margin: 0;
    padding-top: 27px;

    font-size: 36px;
    line-height: 36px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;  

    @media (min-width: $tablet-width) {
        padding-left: 5px;
        max-width: 417px;
        font-size: 60px;
        line-height: 60px;
        text-align: left;
        color: $basic-black;
    }
}

.promo__description {
    margin: 0;
    margin-top: 25px;

    font-size: 14px;
    line-height: 14px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;   
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        margin-top: 42px;
        padding-left: 5px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;

        text-align: left;
        color: $basic-black;
    }
}

.promo__picture {
    margin-top: 29px;  
}

.promo__image {
    @media (min-width: $tablet-width) {
        position: absolute;

        width: 627px;
       
        top: 229px;
        left: 80px;

        z-index: 9;
    }
}

.promo__button {
   
    display: block;

    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
        position: relative;
        display: inline-block;
        margin-top: 20px;
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 14px;
        padding-bottom: 14px;
        text-align: left;
        
        vertical-align: middle;

    
        z-index: 10;
    
    }
}