.promo {
    text-align: center;
    color: $basic-white;

    background-image: url("../img/index_background_desktop.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 320px auto;

    @media (min-width: $tablet-width) {
        text-align: left;

        background-image: none;   
    }

    @media (min-width: $desktop-width) {
        position: relative;
        

        background-color: transparent;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -118px;
            left: 50%;
            width: 100%;
            height: 696px;
    
            background-image: url("../img/bg_promo_desktop.jpg");
            background-repeat: no-repeat;

            z-index: 9;
        }
    }
}

.promo__wrapper {
    @media (min-width: $tablet-width) {
        position: relative;
        margin-top: 31px;
        padding-left: 81px;

        min-height: 820px;
    }
    
    @media (min-width: $desktop-width) {
        margin-top: 0;
        padding-top: 79px;
        min-height: 500px;
    }
}

.promo__title {
    margin: 0;
    padding-top: 27px;

    font-size: 36px;
    line-height: 36px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;  

    @media (min-width: $tablet-width) {
        padding-left: 5px;
       
        max-width: 417px;
        
        font-size: 60px;
        line-height: 60px;
        text-align: left;
        color: $basic-black;
    }

    @media (min-width: $desktop-width) {
        padding-left: 0;

        font-size: 60px;
        line-height: 60px;
        color: $basic-black;
    }
}

.promo__description {
    margin: 0;
    margin-top: 25px;

    font-size: 14px;
    line-height: 14px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;   
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        margin-top: 42px;
        padding-left: 5px;

        font-size: 20px;
        line-height: 20px;
        font-weight: 400;

        text-align: left;
        color: $basic-black;
    }

    @media (min-width: $desktop-width) {
        font-size: 20px;
        line-height: 20px;
    }
}

.promo__picture {
    margin-top: 29px;  
}

.promo__image {
    @media (min-width: $tablet-width) {
        position: absolute;  
        top: 228px;
        left: 0px;

        width: 709px;

        z-index: 9;
    }

    @media (min-width: $desktop-width) {
        top: 26px;
        left: 448px;

        width: 552px;
        height: 499px;
    }
}

.promo__button {
   
    display: block;

    padding-top: 10px;
    padding-bottom: 10px;

    &:hover,
    &:focus {
        background-color: $basic-green-1;
    }    
    &:active {
        background-color: $basic-green-1;
        color: $white-font-opacity03;
    }

    @media (min-width: $tablet-width) {
        position: relative;
        display: inline-block;
        margin-top: 20px;
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 14px;
        padding-bottom: 14px;
        text-align: left;
        
        vertical-align: middle;

        z-index: 10;
    }
}