.site-nav {
    border-top: 1px solid $border-grey-e6;

    @media (min-width: $tablet-width) {
        border-top: 0;
    }
}

.site-nav__button {
    position: absolute;
    top: -45px;
    right: 10px;
    width: 18px;
    height: 18px;

    background-color: none;
    border: 1px solid $special-dark-grey-2;
    cursor: pointer;
    
    &--closed {
        display: none;
    }

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.site-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;    
    }
}

.site-nav__item {
    text-align: center;
    border-bottom: 1px solid $border-grey-e6;

    @media (min-width: $tablet-width) {
        border-bottom: none;
        margin-right: 36px;

        &:last-child {
            margin-right: 0;
        }
    }
    @media (min-width: $desktop-width) {
        margin-right: 33px;
    }
}

.site-nav__item--current {
    border-bottom: 1px solid $border-grey-e6;

    @media (min-width: $tablet-width) {
        border-bottom: 2px solid $basic-green;
    }
}

.site-nav__list--desktop .site-nav__item--current {
    @media (min-width: $desktop-width) {
        border-bottom: 2px solid $basic-white;
    }
}

.site-nav__item-link {
    display: inline-block;

    padding-top: 22px;
    padding-bottom: 22px;

    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    color: $basic-black;

    @media (min-width: $tablet-width) {
        padding-top: 0;
        padding-bottom: 8px;

        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    @media (min-width: $tablet-width) {
        font-size: 20px;
    }
    
}

.site-nav__list--desktop .site-nav__item-link {
    @media (min-width: $desktop-width) {
        font-size: 20px;
        line-height: 30px;
        color: $basic-white;
    }
}

.site-nav__button-wrapper {
    position: relative;

    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 280px; 
    
    @media (min-width: $tablet-width) {
        width: auto;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}