.site-nav {
    border-top: 1px solid $border-grey-e6;

    @media (min-width: $tablet-width) {
        border-top: 0;
    }
}

.site-nav__button {
    position: absolute;
    top: -50px;
    right: 10px;
    width: 24px;
    height: 20px;

    border: none;
    background-color: transparent;

    cursor: pointer;
    
    &--opened {
        display: none;    
     
        &::before {
            content: "";
            display: block;
            width: 24px;
            height: 1.5px;
            background-color: $basic-black;
            box-shadow:  0 8px 0 0 $basic-black,
                        0 16px 0 0 $basic-black;
            transform: translate(-7px,-7px);
        }   
    }

    &--closed {
        display: block;
        &::before {
            content: "";
            display: block;
  
            height: 2px;
            width: 25px;
            background-color: $basic-black;
            border-radius: 5px;
            transform: rotate(45deg) translate(-5px, 5px);
        }

        &::after {
            content: "";
            display: block;
  
            height: 2px;
            width: 25px;
            background-color: $basic-black;
            border-radius: 5px;
            transform: rotate(-45deg) translate(-4px, -6px);
        }

    }

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.site-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;    
    }
}

.site-nav__item {
    text-align: center;
    border-bottom: 1px solid $border-grey-e6;

    @media (min-width: $tablet-width) {
        border-bottom: none;
        margin-right: 36px;

        &:last-child {
            margin-right: 0;
        }
    }
    @media (min-width: $desktop-width) {
        margin-right: 33px;
    }
}

.site-nav__item--current {
    border-bottom: 1px solid $border-grey-e6;

    @media (min-width: $tablet-width) {
        border-bottom: 2px solid $basic-green;
    }
}

.site-nav__list--desktop .site-nav__item--current {
    @media (min-width: $desktop-width) {
        border-bottom: 2px solid $basic-white;
    }
}

.site-nav__item-link {
    display: inline-block;

    padding-top: 22px;
    padding-bottom: 22px;

    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    color: $basic-black;

    &:hover,
    &:focus {
        color: $black-font-opacity06;
    }

    &:active {
        color: $black-font-opacity03;
    }

    @media (min-width: $tablet-width) {
        padding-top: 0;
        padding-bottom: 8px;

        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    @media (min-width: $desktop-width) {
        font-size: 20px;
    }
    
}

.site-nav__list--desktop .site-nav__item-link {
    @media (min-width: $desktop-width) {
        font-size: 20px;
        line-height: 30px;
        color: $basic-white;

        &:hover,
        &:focus {
            color: $white-font-opacity06;
        }

        &:active {
            color: $white-font-opacity03;
        }
    }
}

.site-nav__button-wrapper {
    position: relative;

    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 280px; 
    
    @media (min-width: $tablet-width) {
        width: auto;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}