body {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.page {
  height: 100%; }

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 0); }

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 280px; }
  @media (min-width: 768px) {
    .container {
      width: 718px;
      margin: 0 auto;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box; } }
  @media (min-width: 1440px) {
    .container {
      width: 1440px;
      margin: 0 auto;
      padding-left: 110px;
      padding-right: 110px;
      box-sizing: border-box; } }

@media (min-width: 768px) {
  .main-header {
    min-height: 82px;
    border-bottom: none; } }

@media (min-width: 768px) {
  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    margin-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    min-height: 100%; } }

@media (min-width: 1440px) {
  .main-header__wrapper {
    position: relative;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 54px;
    width: 1220px;
    z-index: 10; } }

.main-header_logo {
  border-bottom: 1px solid #E6E6E6; }
  @media (min-width: 768px) {
    .main-header_logo {
      border-bottom: none; } }

.logo {
  padding-top: 12px;
  padding-bottom: 16px; }
  @media (min-width: 768px) {
    .logo {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0; } }

.logo--form-page {
  padding-top: 5px; }

.logo__wrapper {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 280px; }
  @media (min-width: 768px) {
    .logo__wrapper {
      width: auto;
      margin: 0;
      padding-left: 0;
      padding-right: 0; } }

.logo__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px; }
  @media (min-width: 768px) {
    .logo__link {
      display: flex;
      justify-content: flex-start;
      padding-right: 0; } }

.logo__link--footer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px; }
  @media (min-width: 768px) {
    .logo__link--footer {
      padding-left: 0;
      margin-left: 0;
      margin-right: 0; } }

.logo__picture--first:hover, .logo__picture--first:focus {
  opacity: 0.8; }

.logo__picture--first:active {
  opacity: 0.6; }

@media (min-width: 768px) {
  .logo__picture--first {
    width: 174px;
    height: 51px; } }

@media (min-width: 1440px) {
  .logo__picture--first {
    width: 202px;
    height: 59px; } }

.logo__picture--first-tablet {
  display: none; }
  @media (min-width: 768px) {
    .logo__picture--first-tablet {
      display: block;
      margin-right: 12px; } }

.logo__link-wrapper--second {
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .logo__link-wrapper--second {
      display: none; } }

.site-nav {
  border-top: 1px solid #E6E6E6; }
  @media (min-width: 768px) {
    .site-nav {
      border-top: 0; } }

.site-nav__button {
  position: absolute;
  top: -45px;
  right: 10px;
  width: 18px;
  height: 18px;
  background-color: none;
  border: 1px solid #222222;
  cursor: pointer; }
  .site-nav__button--closed {
    display: none; }
  @media (min-width: 768px) {
    .site-nav__button {
      display: none; } }

.site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .site-nav__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px; } }

.site-nav__item {
  text-align: center;
  border-bottom: 1px solid #E6E6E6; }
  @media (min-width: 768px) {
    .site-nav__item {
      border-bottom: none;
      margin-right: 36px; }
      .site-nav__item:last-child {
        margin-right: 0; } }
  @media (min-width: 1440px) {
    .site-nav__item {
      margin-right: 33px; } }

.site-nav__item--current {
  border-bottom: 1px solid #E6E6E6; }
  @media (min-width: 768px) {
    .site-nav__item--current {
      border-bottom: 2px solid #68B738; } }

@media (min-width: 1440px) {
  .site-nav__list--desktop .site-nav__item--current {
    border-bottom: 2px solid #ffffff; } }

.site-nav__item-link {
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: middle;
  color: #000000; }
  @media (min-width: 768px) {
    .site-nav__item-link {
      padding-top: 0;
      padding-bottom: 8px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400; } }
  @media (min-width: 768px) {
    .site-nav__item-link {
      font-size: 20px; } }

@media (min-width: 1440px) {
  .site-nav__list--desktop .site-nav__item-link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff; } }

.site-nav__button-wrapper {
  position: relative;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 280px; }
  @media (min-width: 768px) {
    .site-nav__button-wrapper {
      width: auto;
      margin: 0;
      padding-left: 0;
      padding-right: 0; } }

.promo {
  text-align: center;
  color: #ffffff;
  background-image: url("../img/index_background_desktop.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 320px auto; }
  @media (min-width: 768px) {
    .promo {
      text-align: left;
      background-image: none; } }
  @media (min-width: 1440px) {
    .promo {
      position: relative;
      background-color: transparent; }
      .promo::before {
        content: "";
        display: block;
        position: absolute;
        top: -118px;
        left: 50%;
        width: 100%;
        height: 696px;
        background-image: url("../img/bg_promo_desktop.jpg");
        background-repeat: no-repeat;
        z-index: 9; } }

@media (min-width: 768px) {
  .promo__wrapper {
    position: relative;
    margin-top: 31px;
    padding-left: 81px;
    min-height: 820px; } }

@media (min-width: 1440px) {
  .promo__wrapper {
    margin-top: 0;
    padding-top: 79px;
    min-height: 500px; } }

.promo__title {
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400; }
  @media (min-width: 768px) {
    .promo__title {
      padding-left: 5px;
      max-width: 417px;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      color: #000000; } }
  @media (min-width: 1440px) {
    .promo__title {
      padding-left: 0;
      font-size: 60px;
      line-height: 60px;
      color: #000000; } }

.promo__description {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .promo__description {
      margin-top: 42px;
      padding-left: 5px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      text-align: left;
      color: #000000; } }
  @media (min-width: 1440px) {
    .promo__description {
      font-size: 20px;
      line-height: 20px; } }

.promo__picture {
  margin-top: 29px; }

@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    top: 229px;
    left: 80px;
    width: 627px;
    z-index: 9; } }

@media (min-width: 1440px) {
  .promo__image {
    top: 26px;
    left: 448px;
    width: 552px;
    height: 499px; } }

.promo__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    .promo__button {
      position: relative;
      display: inline-block;
      margin-top: 20px;
      padding-left: 26px;
      padding-right: 26px;
      padding-top: 14px;
      padding-bottom: 14px;
      text-align: left;
      vertical-align: middle;
      z-index: 10; } }

.button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #68B738;
  border: none;
  cursor: pointer; }
  @media (min-width: 768px) {
    .button {
      font-size: 20px;
      line-height: 24px; } }

@media (min-width: 768px) {
  .food-options {
    margin-top: 17px; } }

@media (min-width: 1440px) {
  .food-options {
    margin-top: 79px; } }

.food-options__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .food-options__list {
      display: flex;
      flex-wrap: wrap; } }

.food-options__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .food-options__item {
      margin-bottom: 34px;
      padding-left: 53px;
      padding-right: 0;
      padding-bottom: 53px; } }
  @media (min-width: 1440px) {
    .food-options__item {
      width: calc(50% - 40px);
      box-sizing: border-box; } }

@media (min-width: 1440px) {
  .food-options__item:nth-child(even) {
    margin-left: auto; } }

.food-options__title {
  padding-top: 30px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .food-options__title {
      margin: 0;
      padding-top: 77px;
      font-size: 36px;
      line-height: 36px;
      padding-left: 0;
      max-width: 380px; } }
  @media (min-width: 1440px) {
    .food-options__title {
      padding-left: 160px;
      max-width: 100%; } }

.food-options__description {
  margin-top: 30px;
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9; }
  @media (min-width: 768px) {
    .food-options__description {
      margin-top: 26px;
      padding-bottom: 0;
      max-width: 380px;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      border-bottom: none; }
      .food-options__description:nth-child(2) {
        max-width: 342px; } }
    @media (min-width: 768px) and (min-width: 1440px) {
      .food-options__description:nth-child(2) {
        max-width: 467px; } }
  @media (min-width: 1440px) {
    .food-options__description {
      margin-top: 75px;
      max-width: 467px; } }

.food-options__button {
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
  color: #000000; }
  @media (min-width: 768px) {
    .food-options__button {
      margin-top: 35px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400; } }
  @media (min-width: 768px) {
    .food-options__button {
      margin-top: 10px; } }

.how-it-works {
  margin-top: 27px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .how-it-works {
      margin-top: 32px;
      padding-bottom: 0;
      border-bottom: 1px solid #E6E6E6; } }

.how-it-works__title {
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000; }
  @media (min-width: 768px) {
    .how-it-works__title {
      padding-top: 10px;
      font-size: 60px;
      line-height: 60px;
      margin: 0; } }

.how-it-works__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .how-it-works__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 74px; } }

.how-it-works__item {
  margin-bottom: 20px;
  min-height: 60px; }
  @media (min-width: 768px) {
    .how-it-works__item {
      width: 45%;
      padding-bottom: 113px; }
      .how-it-works__item:nth-child(even) {
        margin-left: 65px; } }
  @media (min-width: 1440px) {
    .how-it-works__item {
      width: calc(25% - 60px);
      padding-bottom: 0;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 250px; }
      .how-it-works__item:nth-child(even) {
        margin-left: 0;
        margin-right: auto; }
      .how-it-works__item:nth-child(4n) {
        margin-right: 0; } }

.how-it-works__description br {
  display: none; }
  @media (min-width: 768px) {
    .how-it-works__description br {
      display: inline; } }

.how-it-works__description {
  display: flex;
  padding: 0;
  margin: 0; }
  .how-it-works__description::before {
    content: "";
    display: block;
    margin-right: 20px;
    min-width: 60px;
    min-height: 60px;
    background-color: #68B738; }
    @media (min-width: 768px) {
      .how-it-works__description::before {
        width: 80px;
        height: 80px; } }
  @media (min-width: 768px) {
    .how-it-works__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 247px;
      min-height: 185px;
      font-size: 16px;
      line-height: 24px; } }

.example {
  padding-top: 27px;
  padding-bottom: 37px;
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .example {
      padding-top: 10px;
      padding-bottom: 70px;
      background-image: linear-gradient(#ffffff 65%, #eaeaea 65%); } }
  @media (min-width: 1440px) {
    .example {
      padding-bottom: 58px;
      min-height: 600px;
      position: relative;
      padding-top: 0;
      background-image: linear-gradient(#ffffff 29%, #f2f2f2 29%); } }

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000; }
  @media (min-width: 768px) {
    .example__title {
      margin-top: 0;
      font-size: 60px;
      line-height: 60px;
      font-weight: 400; } }
  @media (min-width: 1440px) {
    .example__title {
      padding-top: 60px; } }

.example__description {
  margin-top: 33px;
  margin-bottom: 0;
  width: 270px;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .example__description {
      margin-top: 65px;
      width: auto;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400; } }
  @media (min-width: 1440px) {
    .example__description {
      margin-top: 146px;
      font-size: 16px;
      line-height: 24px;
      max-width: 436px; } }

@media (min-width: 768px) {
  .example__data {
    display: flex;
    flex-wrap: wrap;
    padding-top: 38px; } }

@media (min-width: 1440px) {
  .example__data {
    padding-top: 53px; } }

.example__list {
  display: flex;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 36px;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .example__list {
      width: 370px;
      margin-top: 14px;
      margin-bottom: 0; } }
  @media (min-width: 1440px) {
    .example__list {
      justify-content: flex-start;
      width: 100%; } }

.example__item {
  position: relative;
  width: calc(50% - 17px);
  min-height: 54px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 5%; }
  .example__item:last-child {
    margin-left: auto; }
    @media (min-width: 1440px) {
      .example__item:last-child {
        margin-left: 40px; } }
  @media (min-width: 768px) {
    .example__item {
      width: 162px;
      min-height: 77px; } }

.example__subtitle {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .example__subtitle {
      margin-top: 15px;
      font-size: 30px;
      line-height: 37px;
      font-weight: 400; } }

.example__subdescription {
  display: inline-block;
  position: absolute;
  top: 47px;
  left: 21px;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 78px;
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .example__subdescription {
      display: block;
      font-size: 14px;
      line-height: 14px;
      white-space: nowrap;
      top: 70%;
      left: 50%;
      width: auto;
      padding: 0 10px;
      text-align: none;
      background-color: #ffffff;
      transform: translate(-50%, 70%); } }
  @media (min-width: 1440px) {
    .example__subdescription {
      background-color: #f2f2f2; } }

.example__picture-wrapper {
  margin-top: 42px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .example__picture-wrapper {
      margin-bottom: 0; } }
  @media (min-width: 1440px) {
    .example__picture-wrapper {
      position: absolute;
      top: -71px;
      right: 92px; } }

.example__result {
  margin-top: 35px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .example__result {
      margin: 0;
      margin-top: 22px;
      margin-bottom: auto;
      margin-left: auto;
      text-align: right;
      font-size: 20px;
      line-height: 29px;
      font-weight: 400;
      max-width: 176px; } }
  @media (min-width: 1440px) {
    .example__result {
      margin-top: 50px;
      margin-left: 0;
      max-width: 30%; } }

@media (min-width: 1440px) {
  .example__result-count {
    margin-left: 58px; } }

@media (min-width: 768px) {
  .example__result-toggle {
    width: 100%; } }

@media (min-width: 1440px) {
  .example__result-toggle {
    max-width: 47%;
    margin-top: 40px;
    margin-left: auto; } }

@media (min-width: 768px) {
  .example__picture {
    margin-top: 54px;
    margin-left: 16px;
    width: auto;
    min-height: 500px; } }

.example__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
  margin-left: 5px; }
  @media (min-width: 768px) {
    .example__toggle {
      margin-top: 10px;
      margin-left: 0; } }

.example__toggle-text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .example__toggle-text {
      font-size: 20px;
      line-height: 30px; } }

.example__bar {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  min-width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 20px; }
  @media (min-width: 768px) {
    .example__bar {
      margin-left: 22px;
      margin-right: 22px;
      height: 6px;
      width: 100%;
      max-width: 428px;
      background-color: #cdcdcd; } }

.example__toggle-button {
  margin-left: 8px;
  width: 35px;
  height: 6px;
  background-color: #68B738;
  border-radius: 20px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .example__toggle-button {
      margin-left: auto;
      margin-right: auto;
      width: 7px;
      height: 7px;
      border: 13px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16); } }

@media (min-width: 1440px) {
  .main-footer__adress-wrapper {
    position: relative;
    background-color: plum; } }

.main-footer__adress-block {
  display: flex;
  padding-top: 16px;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    .main-footer__adress-block {
      justify-content: space-between;
      padding-top: 46px;
      margin-left: 40px;
      margin-right: 40px; } }
  @media (min-width: 1440px) {
    .main-footer__adress-block {
      justify-content: flex-start;
      position: absolute;
      top: 92px;
      padding: 0;
      padding-bottom: 41px;
      padding-left: 76px;
      padding-top: 46px;
      margin: 0;
      width: 570px;
      background-color: #ffffff;
      box-sizing: border-box; } }

.main-footer__contacts-title {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  width: 50%; }
  @media (min-width: 768px) {
    .main-footer__contacts-title {
      font-size: 20px;
      line-height: 24px;
      max-width: 170px; } }

.main-footer__adress {
  width: 50%; }
  @media (min-width: 768px) {
    .main-footer__adress {
      max-width: 159px;
      font-size: 16px;
      line-height: 20px;
      text-align: right; } }
  @media (min-width: 1440px) {
    .main-footer__adress {
      margin-left: 80px;
      text-align: left; } }

@media (min-width: 768px) {
  .main-footer__adress span {
    display: inline-block;
    margin-top: 22px;
    vertical-align: middle; } }

.main-footer__map {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .main-footer__map {
      margin: 0;
      padding: 0;
      width: 100%; } }
  @media (min-width: 1440px) {
    .main-footer__map {
      background-color: #f2f2f2; } }

@media (min-width: 768px) {
  .main-footer__map-img img {
    margin-top: 32px;
    width: 100%;
    max-height: 400px; } }

@media (min-width: 1440px) {
  .main-footer__map-img img {
    margin-top: 0; } }

.main-footer__wrapper {
  padding-top: 23px;
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .main-footer__wrapper-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 58px; } }

.main-footer__logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-bottom: 32px; }
  @media (min-width: 768px) {
    .main-footer__logo {
      justify-content: start;
      width: 180px;
      margin-top: 32px;
      margin-left: 0; } }

@media (min-width: 768px) {
  .main-footer--form {
    margin-top: 41px; } }

@media (min-width: 1440px) {
  .main-footer--form {
    margin-top: 53px; } }

@media (min-width: 768px) {
  .main-footer--catalog .main-footer__contacts {
    background-color: #f2f2f2; } }

.social {
  padding-top: 22px;
  padding-bottom: 16px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9; }
  @media (min-width: 768px) {
    .social {
      padding-top: 28px;
      padding-left: 0;
      border-top: 0;
      border-bottom: 0; } }

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .social__list {
      margin-top: 5px;
      margin-left: 0;
      margin-right: 0; } }

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 24px;
  height: 24px; }
  .social__item:last-child {
    margin-right: 0; }
  @media (min-width: 768px) {
    .social__item {
      margin-right: 28px; } }

.social__link {
  cursor: pointer; }

@media (min-width: 768px) {
  .social__link--vkontakte svg {
    width: 30px;
    height: 22px; } }

@media (min-width: 768px) {
  .social__link--instagram svg {
    width: 23px;
    height: 23px; } }

@media (min-width: 768px) {
  .social__link--facebook svg {
    width: 28px;
    height: 33px; } }

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px; }
  @media (min-width: 768px) {
    .copyright {
      padding-top: 20px;
      width: 190px; } }

.copyright__link {
  order: -1;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .copyright__link {
      margin-left: 25px; } }

.form-page {
  display: flex;
  flex-direction: column; }

.form-page__title-wrapper {
  margin-left: auto;
  margin: 0; }

.form-page__title {
  margin: 0;
  margin-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: left; }
  @media (min-width: 768px) {
    .form-page__title {
      margin-top: 60px;
      font-size: 60px;
      line-height: 60px; } }
  @media (min-width: 1440px) {
    .form-page__title {
      margin-top: 68px; } }

.form-page__description {
  margin: 0;
  margin-top: 37px;
  max-width: 228px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .form-page__description {
      margin-top: 53px;
      margin-left: 40px;
      max-width: 326px;
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 1440px) {
    .form-page__description {
      margin-top: 59px;
      margin-left: 0; } }

.order-form {
  margin-top: 20px; }

.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none; }

@media (min-width: 1440px) {
  .order-form__fieldset-wrapper {
    display: flex; } }

@media (min-width: 1440px) {
  .order-form__fieldset-wrapper .order-form__fieldset {
    width: calc(50% - 40px); } }

.order-form__fieldset-container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 280px; }
  @media (min-width: 768px) {
    .order-form__fieldset-container {
      width: 718px;
      margin: 0 auto;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box; } }
  @media (min-width: 1440px) {
    .order-form__fieldset-container {
      width: 1440px;
      margin: 0 auto;
      padding-left: 110px;
      padding-right: 110px;
      box-sizing: border-box; } }

.order-form__fieldset--data {
  position: relative; }
  .order-form__fieldset--data::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 200%;
    height: 1px;
    background-color: #D9D9D9; }
    @media (min-width: 768px) {
      .order-form__fieldset--data::before {
        display: none; } }
  @media (min-width: 768px) {
    .order-form__fieldset--data {
      margin-top: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: none; } }

.order-form__fieldset--options {
  position: relative;
  margin-top: 50px; }
  .order-form__fieldset--options::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 200%;
    height: 1px;
    background-color: #D9D9D9; }
    @media (min-width: 768px) {
      .order-form__fieldset--options::before {
        display: none; } }
  @media (min-width: 768px) {
    .order-form__fieldset--options {
      margin-top: 50px;
      margin-left: auto;
      border-bottom: none; } }

.order-form__group {
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .order-form__group {
      margin-bottom: 21px;
      margin-left: 40px;
      max-width: 630px; } }
  @media (min-width: 1440px) {
    .order-form__group {
      max-width: auto;
      margin-left: 0; } }

.order-form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .order-form__label {
      font-size: 20px;
      line-height: 30px;
      color: #444444; } }
  .order-form__label--input {
    white-space: nowrap;
    padding-right: 9px;
    color: #444444; }
    @media (min-width: 768px) {
      .order-form__label--input {
        padding-right: 19px; } }

.order-form__input {
  width: 90%;
  padding-top: 13px;
  padding-left: 16px;
  padding-bottom: 13px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .order-form__input {
      padding-top: 15px;
      padding-bottom: 15px; } }
  .order-form__input::-moz-placeholder {
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #444444; }
  .order-form__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #444444; }
  .order-form__input::placeholder {
    font-size: 16px;
    line-height: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #444444; }
    @media (min-width: 768px) {
      .order-form__input::-moz-placeholder {
        font-size: 20px;
        line-height: 30px;
        color: #444444; }
      .order-form__input:-ms-input-placeholder {
        font-size: 20px;
        line-height: 30px;
        color: #444444; }
      .order-form__input::placeholder {
        font-size: 20px;
        line-height: 30px;
        color: #444444; } }

.order-form__radio-wrapper {
  padding-top: 21px;
  padding-bottom: 5px; }
  @media (min-width: 768px) {
    .order-form__radio-wrapper {
      margin: 0 auto;
      max-width: 628px;
      padding-top: 20px;
      padding-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #e7e7e7; } }

.order-form__radio-wrapper .order-form__group {
  margin-bottom: 14px; }
  @media (min-width: 768px) {
    .order-form__radio-wrapper .order-form__group {
      margin-left: 27px;
      margin-bottom: 10px; } }

.order-form__label--radio {
  position: relative;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .order-form__label--radio {
      padding-left: 60px; } }
  .order-form__label--radio::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 29px;
    height: 29px;
    border: 1px solid #cdcdcd;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .order-form__label--radio::before {
        width: 39px;
        height: 39px; } }
  .order-form__label--radio::after {
    content: "";
    display: none;
    position: absolute;
    top: 9px;
    left: 9px;
    width: 14px;
    height: 14px;
    background-color: #68B738;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .order-form__label--radio::after {
        top: 11px;
        left: 11px;
        width: 18px;
        height: 18px; } }

.order-form__radio:checked + .order-form__label--radio::after {
  display: block; }

@media (min-width: 768px) {
  .order-form__fieldset--contacts {
    margin-top: 48px;
    margin-bottom: 34px; } }

@media (min-width: 768px) {
  .order-form__fieldset--contacts {
    margin-top: 20px; } }

.order-form__subtitle-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 1px;
  width: 280px;
  min-height: 52px; }
  @media (min-width: 768px) {
    .order-form__subtitle-wrapper {
      width: auto; } }
  .order-form__subtitle-wrapper::before {
    content: "";
    display: block;
    margin-left: 140px;
    margin-top: 14px;
    height: 2px;
    width: 120%;
    background-color: #68B738; }
    @media (min-width: 768px) {
      .order-form__subtitle-wrapper::before {
        margin: 0;
        margin-left: 0;
        margin-top: 21px;
        width: auto; } }

.order-form__subtitle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 20px;
  max-width: 180px;
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .order-form__subtitle {
      left: 29px;
      padding-left: 39px;
      padding-right: 48px;
      font-size: 36px;
      line-height: 36px;
      max-width: 512px; } }
  @media (min-width: 1440px) {
    .order-form__subtitle {
      left: 71px; } }

.order-form__contacts-wrapper {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .order-form__contacts-wrapper {
      margin-top: 60px; } }
  @media (min-width: 1440px) {
    .order-form__contacts-wrapper {
      display: flex;
      margin-top: 46px; } }

@media (min-width: 768px) {
  .order-form__contacts-wrapper .order-form__group {
    margin-left: 38px; } }

@media (min-width: 768px) {
  .order-form__contacts-wrapper .order-form__group {
    margin-left: 0;
    width: calc(50% - 40px); }
    .order-form__contacts-wrapper .order-form__group:nth-child(even) {
      margin-left: auto; } }

.order-form__subtitle-wrapper--textarea {
  margin-top: 12px; }

.order-form__textarea--wrapper {
  display: flex; }

.order-form__textarea {
  margin-top: 7px;
  padding-top: 13px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7; }
  .order-form__textarea::-moz-placeholder {
    padding-left: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #444444; }
  .order-form__textarea:-ms-input-placeholder {
    padding-left: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #444444; }
  .order-form__textarea::placeholder {
    padding-left: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #444444; }
  @media (min-width: 768px) {
    .order-form__textarea {
      margin: 0 auto;
      margin-top: 60px;
      padding-top: 9px;
      padding-left: 8px;
      max-width: 631px;
      min-height: 173px; } }
  @media (min-width: 768px) {
    .order-form__textarea {
      max-width: 100%; } }

@media (min-width: 768px) {
  .order-form__fieldset--others {
    margin-top: 40px; } }

.order-form__fieldset--others .order-form__group {
  margin-top: 5px;
  margin-bottom: 13px; }
  @media (min-width: 768px) {
    .order-form__fieldset--others .order-form__group {
      margin-bottom: 25px;
      margin-right: 20px; } }
  @media (min-width: 1440px) {
    .order-form__fieldset--others .order-form__group {
      margin-bottom: 25px;
      margin-right: 130px; }
      .order-form__fieldset--others .order-form__group:nth-child(4n) {
        margin-right: 0; } }

@media (min-width: 768px) {
  .order-form__checkbox--wrapper {
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 768px) {
  .order-form__checkbox--wrapper .order-form__group {
    width: 40%; } }

@media (min-width: 1440px) {
  .order-form__checkbox--wrapper .order-form__group {
    width: 16%; } }

.order-form__label--checkbox {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 46px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .order-form__label--checkbox {
      padding-left: 57px; } }
  .order-form__label--checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #cdcdcd; }
    @media (min-width: 768px) {
      .order-form__label--checkbox::before {
        width: 37px;
        height: 38px; } }
  .order-form__label--checkbox::after {
    content: "";
    display: none;
    position: absolute;
    top: 8px;
    left: 6px;
    width: 19px;
    height: 15px;
    background-image: url("../img/vector.svg");
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .order-form__label--checkbox::after {
        top: 13px;
        left: 11px; } }

.order-form__checkbox:checked + .order-form__label--checkbox::after {
  display: block; }

.order-form__button-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  padding-bottom: 32px; }
  @media (min-width: 768px) {
    .order-form__button-wrapper {
      flex-direction: row;
      margin-top: 30px;
      margin-left: 40px; } }
  @media (min-width: 1440px) {
    .order-form__button-wrapper {
      margin-top: 36px;
      margin-left: 0; } }

.order-form__button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .order-form__button {
      padding-left: 65px;
      padding-right: 65px;
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 1440px) {
    .order-form__button {
      padding-left: 208px;
      padding-right: 208px; } }

.order-form__information {
  margin-top: 21px;
  align-self: center; }
  @media (min-width: 768px) {
    .order-form__information {
      margin-top: 0;
      margin-left: 60px;
      font-size: 16px;
      line-height: 18px; } }
  @media (min-width: 768px) {
    .order-form__information {
      margin-left: 80px; } }

.main-footer--form .main-footer__contacts {
  background-color: #f2f2f2; }

.catalog-page__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400; }
  @media (min-width: 768px) {
    .catalog-page__title {
      font-size: 60px;
      line-height: 60px;
      margin-top: 60px; } }

.catalog__list {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none; }
  @media (min-width: 768px) {
    .catalog__list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 12px;
      max-width: 768px; } }
  @media (min-width: 768px) {
    .catalog__list {
      margin-top: 45px;
      max-width: 1440px; } }

.catalog__item:nth-child(n+2) {
  position: relative; }
  .catalog__item:nth-child(n+2)::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -300px;
    height: 1px;
    width: 300%;
    background-color: #ebebeb; }
    @media (min-width: 768px) {
      .catalog__item:nth-child(n+2)::after {
        display: none; } }

@media (min-width: 768px) {
  .catalog__item {
    margin-bottom: 23px;
    max-width: 324px;
    background-image: linear-gradient(#ffffff 22%, #f2f2f2 22%); }
    .catalog__item:nth-child(even) {
      margin-left: 60px; } }

@media (min-width: 1440px) {
  .catalog__item {
    margin-right: 80px;
    margin-bottom: 25px; }
    .catalog__item:nth-child(4n + 4) {
      margin-right: 0; }
    .catalog__item:nth-child(even) {
      margin-left: 0; } }

.catalog__gift {
  margin-top: 50px;
  margin-bottom: 35px;
  padding-top: 1px;
  min-width: 280px;
  min-height: 289px;
  background-color: #68B738;
  background-image: url(../img/gift_photo_mobile.png);
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .catalog__gift {
      margin-bottom: 78px;
      margin-top: 67px;
      min-height: 195px;
      max-height: 200px;
      background-image: url(../img/gift_photo_tablet.png); } }
  @media (min-width: 1440px) {
    .catalog__gift {
      margin: 0;
      margin-top: 66px;
      margin-left: auto;
      min-width: auto;
      max-width: 245px;
      min-height: auto;
      max-height: 289px;
      background-image: url(../img/gift_photo_desktop.jpg); } }

.catalog__gift-description {
  margin: 0 auto;
  margin-top: 182px;
  max-width: 161px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center; }
  @media (min-width: 768px) {
    .catalog__gift-description {
      margin: 0;
      margin-top: 72px;
      margin-left: 423px;
      text-align: left; } }

.card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 14px;
  margin-bottom: 10px;
  min-width: 190px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .card {
      margin: 0;
      padding-top: 0;
      padding-bottom: 40px;
      margin-bottom: 0;
      min-width: auto;
      width: 324px; } }
  @media (min-width: 1440px) {
    .card {
      width: 245px; } }

.card__title {
  margin: 0;
  margin-bottom: 14px;
  text-align: left; }
  @media (min-width: 768px) {
    .card__title {
      display: flex;
      justify-content: center;
      margin-bottom: 13px; } }

.card__title-link {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  vertical-align: middle;
  max-width: 100px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .card__title-link {
      display: block;
      font-size: 20px;
      line-height: 24px;
      color: #222222;
      text-align: center;
      max-width: 160px; } }

.card__picture {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 140px;
  min-height: 112px; }
  @media (min-width: 768px) {
    .card__picture {
      margin-top: 0;
      min-width: auto;
      width: 324px;
      min-height: 260px;
      text-align: center; } }

.card__image--500gramm {
  margin-top: 28px; }
  @media (min-width: 768px) {
    .card__image--500gramm {
      margin-top: 0; } }

.card__image--1000gramm {
  margin-top: 10px; }
  @media (min-width: 768px) {
    .card__image--1000gramm {
      margin-top: 0; } }

@media (min-width: 768px) {
  .card__image {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    width: 168px;
    height: 200px; } }

@media (min-width: 1440px) {
  .card__image {
    display: block;
    margin: 0 auto;
    margin-top: 38px;
    padding: 0;
    width: 172px;
    height: 200px; } }

.card__data-wrapper {
  margin-top: 12px;
  width: calc(100% - 142px); }
  @media (min-width: 768px) {
    .card__data-wrapper {
      margin: 0 auto;
      margin-top: 22px;
      margin-bottom: 30px;
      width: 100%;
      max-width: 250px; } }
  @media (min-width: 1440px) {
    .card__data-wrapper {
      padding-left: 39px;
      padding-right: 38px; } }

.card__property-list {
  font-size: 12px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .card__property-list {
      margin: 0 auto; } }

.card__property-group {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .card__property-group {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #cdcdcd; } }

.card__property-title {
  display: inline-block; }
  @media (min-width: 768px) {
    .card__property-title {
      font-size: 16px;
      line-height: 16px;
      color: #444444; } }

.card__property-description {
  display: inline-block;
  margin: 0; }
  @media (min-width: 768px) {
    .card__property-description {
      font-size: 16px;
      line-height: 16px;
      color: #444444; } }

.card__button {
  margin-top: 9px;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 100%; }
  @media (min-width: 768px) {
    .card__button {
      display: block;
      margin-top: 10px;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 16px;
      max-width: 250px;
      max-height: 40px;
      box-sizing: border-box;
      align-self: flex-start; } }
  @media (min-width: 1440px) {
    .card__button {
      margin-left: 39px;
      margin-right: 38px; } }

.pagination {
  background-image: none; }
  @media (min-width: 1440px) {
    .pagination {
      width: 245px; } }

.pagination__item {
  padding-bottom: 25px;
  text-align: center; }
  @media (min-width: 768px) {
    .pagination__item {
      padding-top: 1px;
      padding-left: 38px;
      padding-right: 38px;
      padding-bottom: 38px;
      margin-top: 120px;
      margin-bottom: 0;
      min-width: auto;
      width: 324px;
      max-height: 430px;
      box-shadow: inset 2px 2px 0 1px #f2f2f2, inset -2px -2px 0 1px #f2f2f2;
      box-sizing: border-box; } }
  @media (min-width: 1440px) {
    .pagination__item {
      width: 245px; } }

.pagination__title {
  margin: 0;
  padding-top: 79px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .pagination__title {
      margin: 0 auto;
      margin-top: 83px;
      font-size: 20px;
      line-height: 22px;
      max-width: 134px;
      text-align: center; } }

.pagination__description {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 768px) {
    .pagination__description {
      margin: 0 auto;
      margin-top: 24px;
      max-width: 168px;
      font-size: 16px;
      line-height: 18px;
      color: #444444; } }

.pagination__button {
  display: block;
  margin-top: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
  cursor: pointer; }
  @media (min-width: 768px) {
    .pagination__button {
      margin-top: 87px; } }

@media (min-width: 768px) {
  .additional-goods {
    margin-top: 45px; } }

@media (min-width: 1440px) {
  .additional-goods {
    margin-bottom: 90px; } }

.additional-goods__title-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 26px;
  padding-top: 1px;
  width: 280px;
  min-height: 52px; }
  .additional-goods__title-wrapper::before {
    content: "";
    display: block;
    margin-left: 140px;
    margin-top: 15px;
    height: 3px;
    width: 120%;
    background-color: #68B738; }
    @media (min-width: 768px) {
      .additional-goods__title-wrapper::before {
        margin: 0;
        margin-left: 0;
        margin-top: 21px;
        width: auto; } }
  @media (min-width: 768px) {
    .additional-goods__title-wrapper {
      width: auto; } }
  @media (min-width: 1440px) {
    .additional-goods__title-wrapper {
      margin-top: 51px; } }

.additional-goods__title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 20px;
  max-width: 227px;
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .additional-goods__title {
      margin-left: 30px;
      padding-left: 37px;
      padding-right: 36px;
      max-width: 339px;
      font-size: 36px;
      line-height: 36px; } }
  @media (min-width: 1440px) {
    .additional-goods__title {
      margin-left: 73px; } }

@media (min-width: 1440px) {
  .additional-goods__list-wrapper {
    display: flex; } }

.additional-goods__list {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .additional-goods__list {
      margin-top: 63px;
      border: 1px solid #cdcdcd; } }
  @media (min-width: 1440px) {
    .additional-goods__list {
      width: calc(100% - 288px);
      border: none;
      border-top: 1px solid #cdcdcd; } }

.additional-goods__item {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .additional-goods__item {
      margin-bottom: 0; } }

.card-additional-good {
  padding-top: 13px;
  padding-bottom: 9px;
  border-top: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .card-additional-good {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 38px;
      padding-right: 38px;
      border-top: none;
      border-bottom: 1px solid #cdcdcd; } }
  @media (min-width: 1440px) {
    .card-additional-good {
      padding-left: 0; } }

.card-additional-good__title {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222; }
  @media (min-width: 768px) {
    .card-additional-good__title {
      margin: 0;
      margin-top: 25px;
      min-width: 50%;
      font-size: 20px;
      line-height: 24px; } }
  @media (min-width: 1440px) {
    .card-additional-good__title {
      min-width: 30%;
      margin-top: 0; } }

.card-additional-good__data-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 11px; }
  @media (min-width: 768px) {
    .card-additional-good__data-wrapper {
      justify-content: flex-end;
      min-width: 50%; } }
  @media (min-width: 1440px) {
    .card-additional-good__data-wrapper {
      min-width: 32%;
      margin-top: 28px;
      margin-left: auto; } }

.card-additional-good__description {
  margin: 0; }
  @media (min-width: 768px) {
    .card-additional-good__description {
      font-size: 16px;
      line-height: 20px; } }
  @media (min-width: 1440px) {
    .card-additional-good__description {
      margin-right: auto; } }

.card-additional-good__price {
  margin: 0;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .card-additional-good__price {
      min-width: 96px;
      text-align: right;
      font-size: 16px;
      line-height: 20px; } }

.card-additional-good__button {
  display: block;
  margin-top: 13px;
  padding-top: 8px;
  padding-bottom: 8px; }
  @media (min-width: 768px) {
    .card-additional-good__button {
      font-size: 16px;
      margin-top: 19px;
      margin-bottom: 28px;
      width: 100%; } }
  @media (min-width: 1440px) {
    .card-additional-good__button {
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 90px;
      padding-right: 90px;
      width: auto;
      margin-left: 39px; } }

/*# sourceMappingURL=style.css.map */
