body {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.page {
  height: 100%; }

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 0); }

.container {
  margin: 0 auto;
  width: 280px; }

.main-header_logo {
  border-bottom: 1px solid #E6E6E6; }

.logo__link {
  display: flex;
  justify-content: space-between;
  width: 190px; }

.site-nav__button {
  width: 18px;
  height: 18px;
  background-color: none;
  border: 1px solid #222222;
  cursor: pointer; }
  .site-nav__button--closed {
    display: none; }

.site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.site-nav__item {
  text-align: center;
  border-bottom: 1px solid #E6E6E6; }

.site-nav__item-link {
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: middle;
  color: #000000; }

.promo {
  text-align: center;
  color: #ffffff;
  background-image: url("../img/index_background_desktop.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 320px auto; }

.promo__title {
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400; }

.promo__description {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase; }

.promo__picture {
  margin-top: 29px; }

.promo__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; }

.button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #68B738;
  cursor: pointer; }

.food-options__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.food-options__item {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px; }

.food-options__title {
  padding-top: 30px;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000; }

.food-options__description {
  margin-top: 30px;
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9; }

.food-options__button {
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000; }

.how-it-works {
  margin-top: 27px; }

.how-it-works__title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000; }

.how-it-works__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.how-it-works__item {
  margin-bottom: 20px;
  min-height: 60px; }

.how-it-works__description {
  display: flex; }
  .how-it-works__description::before {
    content: "";
    display: block;
    margin-right: 20px;
    min-width: 60px;
    min-height: 60px;
    background-color: #68B738; }

.example {
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: #eaeaea; }

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000; }

.example__description {
  margin-top: 33px; }

.example__list {
  display: flex;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  list-style: none; }

.example__item {
  position: relative;
  width: calc(50% - 15px);
  min-height: 54px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 5%; }
  .example__item:last-child {
    margin-left: auto; }

.example__subtitle {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000; }

.example__subdescription {
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 25px;
  margin: 0;
  text-align: center;
  width: 78px;
  background-color: #eaeaea; }

.example__picture-wrapper {
  margin-top: 42px; }

.example__result {
  margin-top: 50px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000; }

.example__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px; }

.example__toggle-text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000; }

.example__bar {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 20px; }

.example__toggle-button {
  margin-left: 8px;
  width: 35px;
  height: 6px;
  background-color: #68B738;
  border-radius: 20px;
  cursor: pointer; }

.main-footer__adress-block {
  display: flex; }

.main-footer__contacts-title {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  width: 50%; }

.main-footer__adress {
  width: 50%; }

.main-footer__map {
  width: 320px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
